<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="http://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>My Precinct</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <!-- I get an invalid block tag: static with this; commenting it out
    <link rel="stylesheet" href="{#% static "css/myprecinct.css" %#}"> -->
    <link rel="stylesheet" href="/static/css/myprecinct.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">

  </head>

<body>
  <div class="container" id="mainbody">

  <h1 style="margin-left: 40px;">My Precinct</h1>
  
  <div class="col-lg-9">
    <div id="map" class="img-responsive"></div>
  </div>

  <div class="col-lg-3">
    <button class="btn btn-lg btn-info navbtn" onclick="toggle_visibility('electeds');">My Elected Officials</button>
      <div id="electeds" style="display: none;">
        <h4>Senator Mark Warner</h4>
        <h6><a href="http://www.warner.senate.gov/" target="_blank">http://www.warner.senate.gov/</a></h6>
        <h6><a href="tel:202-224-2023">202-224-2023</a></h6>
          <br>
        <h4>Senator Tim Kaine</h4>
        <h6><a href="http://www.kaine.senate.gov/" target="_blank">http://www.kaine.senate.gov/</a></h6>
        <h6><a href="tel:202-224-4024">202-224-4024</a></h6>
          <br>
        <h4>Representative Jim Moran, Jr.</h4>
        <h6><a href="https://moran.house.gov/" target="_blank">https://moran.house.gov/</a></h6>
        <h6><a href="tel:202-225-4376">202-225-4376</a></h6>
      </div>
    <button class="btn btn-lg btn-success navbtn" data-toggle="modal" data-target="#commit_vote">
    <span class="glyphicon glyphicon-ok"></span> Commit to Vote</button> 
    <button class="btn btn-lg btn-info navbtn">Sign up to Help</button>
    <button class="btn btn-lg btn-info navbtn">
    <i class="fa fa-facebook-square"></i> 
    <i class="fa fa-twitter"></i>
     Connect</button>
    <!-- <button class="btn btn-lg btn-info navbtn">Election Calendar</button> -->
    <!-- <button class="btn btn-lg btn-info navbtn">Important Resources</button> -->
    <!-- <button class="btn btn-lg btn-info navbtn">Resource Library</button> -->
    <a href="http://ogea.neworganizing.com/guide/VA" target="_blank"><button class="btn btn-lg btn-primary navbtn">
    <span class="glyphicon glyphicon-question-sign"></span> Voting FAQs</button></a>
    <br>
    <button class="btn btn-lg btn-danger navbtn"><span class="glyphicon glyphicon-edit"></span> Change Location</button>
  </div>

  <!-- Commit to Vote Modal -->

  <div class="modal fade" id="commit_vote">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Commit to Vote</h3>
        </div>
        <div class="modal-body">
          <p>
            <h4>Election Day is November 4, 2014</h4>
            Your polling place is:<br>
            Rose Hill Elementary School<br>
            6301 Rose Hill Drive<br>
            Alexandria, VA<br>
            <br> <br>
            Hours: 6:00 am - 7:00 pm
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" aria-hidden="true"><span class="glyphicon glyphicon-calendar"></span> Add to Calendar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-ok"></span> I'll be there</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- End: Commit to Vote Modal -->

  </div> <!-- #mainbody -->

    <!-- Leaflet.js -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <script>

        // Coordinates here are for the White House; preload these as appropriate

        var map = L.map('map').setView([38.7742336, -77.1114619], 15);

        L.tileLayer('http://{s}.tiles.mapbox.com/v3/shannonturner.ia66964h/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
    }).addTo(map);

        // Markers go here

        var you_are_here = L.marker([38.7742336, -77.1114619]).addTo(map);
        var polling_place = L.marker([38.7814246, -77.1173771]).addTo(map);

        // Polygons go here
        // Instructions on building a polygon here: http://leafletjs.com/examples/quick-start.html

        you_are_here.bindPopup("You are here").openPopup();
        polling_place.bindPopup("You will vote here").openPopup();

    </script>

    <!-- Toggle show/hide elements -->
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>